DISCORD_BOT_TOKEN=
DISCORD_DEFAULT_GUILD_ID=
DISCORD_ALLOWED_GUILDS=
DISCORD_ALLOWED_CHANNELS=
DISCORD_ACTOR_NAME=
DISCORD_ACTOR_DISCORD_ID=
DISCORD_APPEND_ATTRIBUTION=true
DISCORD_ATTRIBUTION_TEXT=sent using GuildSpan
DISCORD_MAX_ATTACHMENT_BYTES=10485760
DISCORD_ALLOWED_ATTACHMENT_MIME_TYPES=
DISCORD_ALLOWED_UPLOAD_PATHS=
DISCORD_ALLOWED_UPLOAD_URL_HOSTS=
DISCORD_MAX_UPLOAD_BYTES=10485760
DISCORD_MAX_UPLOAD_TOTAL_BYTES=25165824
DISCORD_ALLOWED_UPLOAD_MIME_TYPES=
